/* GENERAL */

:root {
    --grey-color: #ecc3c3;
    --variable-color: white; /* Changes depending on the team rating */
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-top: 2rem;
    padding: 0; 
    background-color: black;
}

.content-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 95vw;
    margin: 0 auto;
    border: 2px solid var(--variable-color);
    border-radius: 10px;
    box-shadow: 0 0 20px var(--variable-color);
    background-color: rgb(22, 21, 21);
}


.pkmn-team-container {
    display: flex;
    justify-content: space-evenly;
}

.pkmn-wrapper {
    padding: 1rem;
    display: inline-block;
    width: 10vw;
}

.pkmn-img {
    display: inline-block;
    width: 100%;
    height: 8rem;
    object-fit: contain;
    
}

.pkmn-img,
.type-img {
    border: 1px solid var(--variable-color);
    box-shadow: 0 0 5px var(--variable-color);
    
}

.types-container {
    margin-top: 1rem;
    display: flex;
}

.type-img {
    flex: 1;
    object-fit: contain;
    width: 50%;
    height: 4rem;
}

/* INPUT / AUTOCOMPLETE LIST STUFF */

.autocomplete-list-container {
    display: inline-block;
    position: relative;
    margin-top: 1rem;
    width: 100%;
}

.autocomplete-input {
    border: 0;
    padding: 0.5em;
    background-color: rgba(211, 211, 211);
    width: 100%;
}

.autocomplete-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    max-height: 20rem;
    overflow: auto;
    z-index: 1;
}

/* SCROLLBAR */

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: rgba(211, 211, 211);
}


*::-webkit-scrollbar-thumb {
    background-color: black;
  }

.autocomplete-list li {
    border: 1px solid lightgray;
    border-top: unset;
}

.autocomplete-list button {
    border: 0;
    background-color: rgba(211, 211, 211);
    padding: 0.5em;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
}

.autocomplete-list button:hover {
    background-color: rgb(245, 248, 241);
}

/* RESULTS */

.results-container {
    display: flex;
    height: 100%;
}

.chart-container {
    position: relative; 
    width: 75%;
    padding: 2rem;
}

.team-rating-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex: 1;
    text-align: center;
    color: white;
}

.team-weaknesses-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.team-weaknesses-container img {
    height: 50px;
    width: 50px;
}

.team-rating-text {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    color: var(--variable-color);
}